In [3]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])

The first planet is Mercury
The second planet is Venus
The third planet is Earth

In [4]:
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

Mars is also known as Red Planet
There are 8 planets in the solar system.

In [5]:
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.
No, there are definitely 8 planets in the solar system.

In [6]:
print("The first planet is", planets[0])
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun')

The first planet is Mercury
The last planet is Neptune
The penultimate planet is Uranus
Jupiter is the 5 planet from the sun

In [7]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

In [9]:
bus_weight = 12650 # in kilograms, on Earth
print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [8]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)
planets_after_earth = planets[3:8]
print(planets_after_earth) 
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mercury', 'Venus']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [10]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']
regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [11]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']

# Ejercicio 1

In [17]:
planets = ['Jupiter','Marte','Saturno','Venus','Mercurio', 'Neptuno','Tierra']
print(planets)
planets.append('Pluton')
print(planets[-1])

['Jupiter', 'Marte', 'Saturno', 'Venus', 'Mercurio', 'Neptuno', 'Tierra']
Pluton

# Ejercico 2

In [27]:
# Lista de planetas
planets = ['Mercurio','Venus','Tierra','Marte','Jupiter','Saturno','Neptuno',]
name_plnets=input('Ingrese el nombre del planeta (no olvides poner la mayuscula al comensar):')

In [31]:
planet = planets.index(name_plnets)
print('Estos son los planetas mas cercanos a '+ name_plnets)
print(planets[0:planet])
print('Estos son los planetas mas cercanos a El sol')
print(planets[planet+1:])

Estos son los planetas mas cercanos a Marte
['Jupiter']
Estos son los planetas mas cercanos a El sol
['Saturno', 'Venus', 'Mercurio', 'Neptuno', 'Tierra']